<html>
    <head>
       
    </head>
    <body>
        <H2>Showing <%= restaurants.length %> document(s)</H2> 
        <ol>
	<h1>hihihihi</h1>
            <% for (i in restaurants) { %>
        
		<li><a href=/display?_id=<%= restaurants[i]._id%>><%=restaurants[i].name%></a></li>
            <% } %>
        </ol>

	<form action="search" method="get" enctype="multipart/form-data">
        <input type="text" name="name" minlength=1><br>
        <input type="submit" value="Search">

    </form>
    </body>
</html>

