<html>
	<head>
		<title>Login</title>
	</head>

   <body>
	<form name = "form" action = "/login" method = "post" class = "ui form">
		<div class = "field">
			<label> Name: </label>
			<input type = "text" name = "name" placeholder = "name">
		</div>

		<div class = "field">
			<label> Password: </label>
			<input type = "password" name = "password" placeholder = "password">
		</div>

		<button type = "submit" class = "ui violet basic button"> Login </button>
	</form>

	<a href = "/register"> Register </a>

   </body>
</html>
