<html>
    <form action="search" method="post" enctype="multipart/form-data">
        <input type="text" name="restaurant_id" minlength=1><br>
        <input type="submit" value="Upload">
    </form>
</html>
